<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MelaScan - Login</title>
</head>
<body>
    <header>
        <h1 style="text-align: left;">MelaScan</h1>
    </header>

    <main>
        <h2>Login</h2>
        <form action="/login" method="POST">   <!-- create a login rout in routes.py-->
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>

            <button type="submit">Log In</button>
        </form>

        <p>This login is for clinical staff users only.<br>
           New user? Kindly <a href="registration.html">Register here</a>.</p>
    </main>
</body>
</html>